<p class="notice">
  <%= notice %></p>


<h2>Books</h2>
<table cellspacing="10">
<thead>
<tr>
<th>Title</th>
<th>Body</th>
<th></th>
</tr>
</thead>



<tbody>
<% @books.each do |book| %>
<tr> 
<td>
<%= book.title %>
</td>
<td>
<%= book.body %>
</td>
<td><%= link_to "Show", book_path(book) %></td>
<td><%= link_to "Edit", edit_book_path(book) %></td>
<td><%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?" %></td>
</tr>  
<% end %>
</tbody>   
</table>
<% if @book.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= @book.errors.count %> errors </h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h3>New book</h3>

	<%= form_for(@book) do |f| %>

    <h6>Title</h6>
    <%= f.text_field :title %>
 
    <h6>Body</h6>
    <%= f.text_area :body %>
 <br>
    <%= f.submit 'Create Book' %>
 
<% end %>
